# IDE files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Git backups
**/.git_backup/

# Gradle/Build files inside subfolders (just in case)
**/build/
**/.gradle/
**/target/
**/*.class
**/local.properties

# OS files
Thumbs.db
Desktop.ini
.DS_Store
