<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WorkHubApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimViecApp"
        android:usesCleartextTraffic="true">
        
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.auth.RegisterActivity" />
        <activity android:name=".ui.auth.ForgotPasswordActivity" />
        <activity android:name=".ui.auth.OtpVerificationActivity" />
        <activity android:name=".ui.auth.ResetPasswordActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.jobs.JobDetailActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.companies.CompanyListActivity" />
        <activity android:name=".ui.companies.CompanyDetailActivity" />
        <activity android:name=".ui.resume.ResumeDetailActivity" />
        <activity android:name=".ui.resume.ApplyJobActivity" />
        <activity android:name=".ui.resume.MyResumesActivity" />
        <activity android:name=".ui.subscriber.SubscriberActivity" />
        <activity android:name=".ui.jobs.ManageJobsActivity" />
        <activity android:name=".ui.resume.ManageResumesActivity" />
        <activity android:name=".ui.jobs.AddJobActivity" />
        <activity android:name=".ui.companies.ManageCompanyActivity" />
        <activity android:name=".ui.companies.CreateCompanyActivity" />
        <activity android:name=".ui.admin.SkillManagementActivity" />
        <activity android:name=".ui.admin.UserManagementActivity" />
        <activity android:name=".ui.admin.ManageRoleUpgradesActivity" />
        
    </application>

</manifest>
